---
---

@import "minima";

.site-header {
  background-image: url("/assets/images/VOEF-logo-rouge.png");
  background-size: cover;
  background-position: center;
  height: 240px;
  position: relative;
}

.site-header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 50, 0.5);
}

.site-title {
  position: relative;
  color: white !important;
  font-size: 30px;
  font-weight: 600;
}

/* Couleur des titres */
h1 {
  color: #002b5c;
}

h2 {
  color: #003f88;
}

/* Couleur du titre principal en haut */
.site-title {
  color: #002b5c;
}
