---
---

@import "minima";

/* ============================= */
/* ===== HEADER STRUCTURE ====== */
/* ============================= */

.site-header .wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr auto;
  align-items: start;
  padding: 20px 0;
}

/* ============================= */
/* ===== TITLE (TOP ROW) ======= */
/* ============================= */

.site-title {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ============================= */
/* ===== MENU (LEFT COLUMN) ==== */
/* ============================= */

.site-nav {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Override Minima default inline links */
.site-nav .page-link {
  display: block;          /* force one link per line */
  margin-bottom: 8px;
  white-space: nowrap;     /* keep each link on one line */
   line-height: 1.5em;
}


/* ============================= */
/* ===== LOGO (RIGHT COLUMN) === */
/* ============================= */

.site-header .wrapper::after {
  content: "";
  grid-column: 2;
  grid-row: 2;
  align-self: center;      /* vertical alignment with menu */
  justify-self: end;
  display: block;
  width: 260px;
  height: 4.5em; /* =3 lignes */
  background: url("/assets/images/Obs-logo-green.png") no-repeat center;
  background-size: contain;
}
